<!-- Begin MailChimp Signup Form --><div id="signup-form">
<form action="http://ruhoh.us1.list-manage.com/subscribe/post?u=af7ae466c004441192ef9e2c5&amp;id=dd36395f1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
  <label for="mce-EMAIL">Subscribe to new course alerts</label>
  <br><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="name@email.com">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_af7ae466c004441192ef9e2c5_dd36395f1e" tabindex="-1" value=""></div>
</form>
</div><!--End signup-form-->
