$background-color: #FFF;
$primary-border-color: #ccc;
$alt-background-color: #FBF8F5;

#world {
  .node {
    text {
      font-size: 12px;
      fill: #907F76;
      fill-opacity: 1;
      &.text-bg {
        fill : none;
        stroke: $background-color;
        strok-opacity: 1;
        stroke-width: 6;
        stroke-linejoin: round;
      }
    }
    use {
      pointer-events: all;
      &:hover {
        fill: orange;
        cursor: pointer;
      }
    }

    circle {
      cursor: pointer;
      &.focus {
        fill: #1c9edb;
        fill-opacity: 0.1;
        stroke: none;
      }
      &.clicker {
        stroke: none;
        fill-opacity: 0;
        &:hover {
          fill: orange;
          fill-opacity: 0.2;
        }
      }
      &.icon-bg {
        fill: $background-color;
        stroke: none;
      }
    }
  }

  line {
    stroke: #000;
    stroke-width: 1.5px;
  }

  path {
    &.link-connect {
      fill: none;
      stroke: #d3cdca;
      stroke-width: 1.5px;
      stroke-dasharray: 3, 3;
      &.public {
        stroke: #A0C55F;
      }
    }
    &.link-focusPath {
      fill: none;
      stroke: #1C9EDB;
      stroke-width: 2px;
    }
  }

/*
http://www.colourlovers.com/palette/848743/(%E2%97%95_%E2%80%9D_%E2%97%95)
http://www.colourlovers.com/palette/3443395/sugary
*/
  .icon {
    fill: #490A3D;
    &.web-browser {

    }
    &.wifi-high {
      fill: #F8CA00;
    }
    &.browser-2 {
      fill: #772A53;
    }
    &.database {
      fill: #E97F02;
    }
    &.software {
      fill: #4EC09F;
      stroke: #39a284;
      stroke-width: 5px;
    }
    &.document,
    &.filesystem,
    &.documents-code,
    &.document-html,
    &.document-pdf,
    &.image,
    &.video-2 {
      fill: #8A9B0F;
    }
    &.server2 {
      fill: #BD1550;
    }
    &.menu {
      fill: #0D6759;
    }
    &.endpoint {
      fill: #444;
    }
    &.exchange {
      fill: #777;
    }
  }
  .flow-icon {
    fill: #1C9EDB;
  }

  .cross-out {
    fill: #e51c23;
  }

  g.description {
    font-family: inherit;
    font-size: 30px;
    fill: #757575;
  }
}

body .sub-description {
  font-size: 14px;
  color: #757575;
}
