/*
http://www.google.com/design/spec/style/color.html#color-ui-color-palette
http://www.colorzilla.com/gradient-editor/
*/
$background-color: #FFF;
$primary-border-color: #eee;
$alt-background-color: #212121;

html, body {
  margin: 0;
  padding:0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
pre {
  font-size: 18px;
}
a {
  &:link, &:visited {
    color: #000;
    text-decoration: none;
  }
  &:hover {
    color: #666;
  }
}
svg {
  overflow: visible;
}
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

body.visualizer {
  background-color: $background-color;
}

#steps-count {
  $foreground-color: #616161;
  position: absolute;
  bottom: 10px;
  right:90px;
  padding:0 15px 0 35px;
  background-color:#FFF;
  height:35px;
  line-height:35px;
  z-index: 21;
  cursor: pointer;
  color: $foreground-color;
  border-radius:5px;
  background-color: #e0e0e0;
  &:hover {
    background-color: #424242;
    color: #eee;
    svg {
      fill: #eee;
    }
  }
  em {
    font-style: normal;
  }
  svg {
    position: absolute;
    left: 0;
    fill: $foreground-color;
    height: 35px;
    width: 35px;
  }
}

#world {
  position: absolute;
  bottom:20px;
  width: 100%;
  height: auto;
  > svg {
    overflow: hidden;
  }
}


#table-of-contents {
  $border-color: #222;
  position: absolute;
  left: 20%;
  width:60%;
  top: 0;
  height: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(20, 20, 20, 0.9);
  border-right:1px solid $border-color;
  border-left:1px solid $border-color;
  color: #bdbdbd;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.5s;
  &.active {
    height:100%;
    opacity: 1;
  }

  h4 {
    display: block;
    margin:0;
    padding: 8px;
    background-color: rgba(17, 17, 17, 0.6);
    text-align: center;
    color: #757575;
  }
  ol {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    list-style: none;
    counter-reset: chapter;
    min-width: 200px;
    li {
      border-bottom: 1px solid #111;
      &:hover a, &.active a {
        background-color: #222;
      }
      a {
        display: block;
        padding: 7px 15px;
        line-height: 1.5em;
        text-decoration: none;
        color: inherit;
        font-size: inherit;
        cursor: pointer;

        &:before {
          content: counter(chapter) ". ";
          counter-increment: chapter;
        }
      }
    }
  }

  .keyboard-info {
    font-size:12px;
    color:#777;
    margin-top:20px;
    text-align:center;
  }
}


#prev-next-wrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#prev-next {
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    fill: #424242;
    &:hover {
      fill: #212121;
    }
  }
}


#description {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height:200px;
  z-index: 20;
  overflow: visible;
  background-color: transparent;
  color:#555;
  h1 {
    font-size: 34px;
    margin: 15px 0 0 0;
    color: inherit;
    line-height: 1.5em;
    text-align: center;
    text-transform:capitalize;
    &.big {
      font-size: 48px;
    }
  }
  div {
    font: 16px 'Helvetica Neue';
    color: inherit;
    padding: 15px;
    background-color: inherit;
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 15px 0;
    }
    p{
      padding-left:10%;
      padding-right:10%;
      margin:0 0 15px 0;
      line-height: 1.4em;
    }
    a {
      color: green;
      text-decoration: underline;
    }
    pre {
      font-size: inherit;
      overflow: auto;
      background-color: #eee;
      color: #777;
    }
    blockquote {
      color: #777;
    }
    ul, ol {
      line-height: 1.5em;
      li {
        margin-bottom: 5px;
      }
    }
  }
}
