@media only screen 
and (max-width : 800px) {
  #prev-next-wrap {
    display:none;
  }
  #world {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 70%;
  }
  #description {
    left: 0;
    top:0;
    width: 100%;
    height:30%;
    overflow: auto;
    h1 {
      font-size: 20px;
      margin-bottom:10px;
    }
  }
  #steps-wrap {
    left:0;
    width:100%;
    bottom: 35%;
  }
  #table-of-contents {
    left:0;
    z-index: 50;
    width:100%;
    &.active {
      height:35%;
    }
  }
  #signup-form {
    width: 100%;
    left:0;
    height: 0;
  }
}
