@media only screen 
and (max-width : 1200px) {
  #steps-count {
    right: 60px;
    height:30px;
    line-height:30px;
    font-size: 12px;
    border-radius:2px;
    padding-left: 25px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  #prev-next-wrap {
    svg {
      height: 20px;
      width: 20px;
    }
  }
  #description {
    left: 0 !important;
    top:0 !important;
    width: 100%;
    overflow: auto;
    div {
      font-size: 12px;
    }
    h1 {
      font-size: 16px;
      margin-bottom:10px;
    }
  }
  #table-of-contents {
    left:0;
    z-index: 50;
    width:100%;
  }
  #signup-form {
    width: 100%;
    left:0;
    height: 0;
  }
}
